html {
  height: 100vh;
}
body {
  height: 100vh;
  background-color: #75bd8c;
  margin-top: 0;
}
#root {
  height: 100vh;
}
div.App {
  height: 100vh;
  min-width: 250px;
}

/*Blank div to add space over display area */
div.setMargin {
  height: 3%;
}

/*Button*/
.container-fluid {
  padding: 0;
  width: 82%;
  font-weight: 900;
  height: 60%;
}

.inner-div-btn {
  height: 20%;
}

button {
  margin: 1%;
  width: 23%;
  /* height: 18%; */
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  /*box-shadow: 0 9px #999;*/
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.equalToBtn {
  width: 48%;
}
button.functionBtn {
  background-color: #59886b;
}
button.functionBtn:hover {
  background-color: #556052;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

/*Display */
.display {
  width: 82%;
  height: 30%;
  background-color: #d6ebdc;
  margin: 0 9% 2% 9%;
  font-size: 1.5em;
  font-weight: 400;
}
.innerDisplay {
  height: 33.33%;
  padding: 10px 0;
}

@media screen and (max-width: 500px) {
  button {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }
}
